body {
  /* padding: 1rem; */
  background-color: #e5e5e5;
  /* padding: 64px 35px; */
  min-width: 1200px;
  max-width: 1250px;
  /* margin: auto; */
}
.attr {
  grid-area: attr;
  background-color: rgb(255, 255, 255);
  padding: 29px;
  border-radius: 10px;
  color: #535c68;
}

.attr__title {
  font-size: 20px;
}
.attr__title__two {
  font-size: 12px;
  font-weight: 600;
}
.attr__title__two a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #002366;
}

.attr__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.attr__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 10px;
}

.attr__detail {
  width: 180px;
  height: 67px;
  border: 2px solid #d9d9d9;

  border-radius: 10px;
  padding: 11px 13px;
}
.attr__detail h4 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 4px;
}
.attr__detail p {
  font-size: 13px;
  font-weight: 500;
}
